<%= render "home/nav_bar" %>
<p id="notice"><%= notice %></p>

<div class="back">
<h1 style="margin:10px;margin-top:20px;color:white;">My Courses</h1>

<div class="row justify-content-center">
    <div class="col-auto">


<table class="table table-hover" style="color:white">
  <thead>
    <tr>
      <th scope="col" >Name</th>
      <th scope="col" >Seats</th>
      <th scope="col" >Enrolled</th>
      <th scope="col" >Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% current_user.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.seats %></td>
        <td><%= course.enrolled %></td>
        <td><%= course.description %></td>
        <td><%= link_to 'Show', course %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

</div>