<%= render "home/nav_bar" %>
<p id="notice"><%= notice %></p>





<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Email ID</th>
      <th>Joined</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @course.users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email.split("@")[0] %></td>
        <td><%= user.email %></td>
        
        <td><%= user.created_at %></td>
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Remove', courses_deenroll_path(:c => @course.id, :u => user.id),:confirm => "Are you sure want to de enroll?", method: :post %></td>
        <%end %>
       </tr>
      <% end %>
       

    

  </tbody>
</table>






<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @course.seats %>
</p>

<p>
  <strong>Enrolled:</strong>
  <%= @course.enrolled %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Cid:</strong>
  <%= @course.id %>

  <strong>Uid:</strong>
  <%= current_user.id %>
</p>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
